main {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    background: url("../img/wallpaper.jpg") center center / cover no-repeat fixed;
}

.minesweeper {
    z-index: 1;
    width: min-content;
}

#game_container {
    margin: 0;
}

.minesweeper .content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'mine-sweeper';
}

.minesweeper .game_window {
    background: var(--gris-moyen);
}

.minesweeper .game_window .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 5px;
}

.minesweeper .game_window .head div {
    background-repeat: no-repeat;
}

.minesweeper .game_window .head div.w41 {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    width: 41px;
}

.minesweeper .game_window .head div.display-bomb {
    display: flex;
    margin-left: 5px;
    z-index: 2;
    height: 23px;
    width: 39px;
    border: 1px solid;
    border-top-color: var(--gris-fonce);
    border-left-color: var(--gris-fonce);
    border-bottom-color: var(--gris-clair);
    border-right-color: var(--gris-clair);
}

.minesweeper .game_window .head div.bomb {
    position: relative;
    top: 1px;
    margin: 0;
    z-index: 10;
    height: 21px;
    width: 11px;
}

.minesweeper .game_window .head div.centaine {
    left: 1px;
}

.minesweeper .game_window .head div.dizaine {
    left: 3px;
}

.minesweeper .game_window .head div.unite {
    left: 5px;
}

.minesweeper .game_window .head div.n-decouvert,
.minesweeper .game_window .head div.decouvert {
    background-position: center;
    background-size: 17px;
    height: 20px;
    width: 20px;
}

.minesweeper .game_window .head div#smile {
    background-image: url("../img/face_smile.png");
}

.minesweeper .game_window .head div#boss {
    background-image: url("../img/face_boss.png");
}

.minesweeper .game_window .head div#dead {
    background-image: url("../img/face_dead.png");
}

.minesweeper .game_window:active .head div#smile {
    background-image: url("../img/face_omg.png");
}

.minesweeper .game_window .head div#flag {
    background-image: url("../img/drapeau.png");
    background-size: 12px;
}

.minesweeper .game_window .head div#flag.decouvert {
    background-image: url("../img/drapeau.png");
    background-size: 12px;
}

.minesweeper .game {
    margin: 0 5px 5px 5px;
}

.minesweeper .game table {
    background: var(--gris-fonce);
}

.minesweeper .game table tr {
    display: flex;
    flex-direction: row;
}

.minesweeper .game table td {
    text-align: center;
    line-height: 12px;
    width: 12px;
    height: 12px;
    background: var(--gris-moyen);
}

.minesweeper .game table tr td.decouvert.entourer {
    background: red;
    border: 2px solid red;
}

.minesweeper .game table tr td.decouvert {
    background: var(--gris-moyen);
    border: 2px solid var(--gris-moyen);
    vertical-align: middle;
    font-size: x-small;
    margin: 1px 0 0 1px;
}

.minesweeper .game table tr td.n-decouvert {
    padding: 1px 0 0 1px;
}

.minesweeper .game table tr td.n-decouvert.flag {
    background-image: url("../img/drapeau.png");
    background-size: 12px;
}

.game_window,
.n-decouvert,
.decouvert {
    border: 2px solid;
    border-top-color: var(--gris-clair);
    border-left-color: var(--gris-clair);
    border-bottom-color: var(--gris-fonce);
    border-right-color: var(--gris-fonce);
}

.n-decouvert.disabled-case {
    pointer-events: none;
}

.minesweeper .n-decouvert a,
.minesweeper .decouvert a {
    display: block;
    padding: 3px;
    width: 100%;
    height: 100%;
    position: relative;
    top: -3px;
    left: -3px;
    overflow: auto;
}

.minesweeper .box-shadow {
    border: solid;
    border-width: 2px;
}

.minesweeper .box-shadow,
.n-decouvert:active,
.decouvert#flag {
    border-top-color: var(--gris-fonce);
    border-left-color: var(--gris-fonce);
    border-bottom-color: var(--gris-clair);
    border-right-color: var(--gris-clair);
}

.mine-1 {
    color: #0000ff;
}

.mine-2 {
    color: #008000;
}

.mine-3 {
    color: #ff0000;
}

.mine-4 {
    color: #000080;
}

.mine-5 {
    color: #800000;
}

.mine-6 {
    color: #008080;
}

.mine-7 {
    color: #800080;
}

.mine-8 {
    color: #000;
}

/* DISPLAY SCORES */
div.popup.won {
    margin: 45px 0;
}

div.won div.content {
    font-size: small;
}

div.won div.content div.titles {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 7px 0;
}

div.won div.content div.scores div {
    display: flex;
    margin: 2px 0;
}

div.won div.content div p:first-child {
    width: 100px;
}

div.won div.content div p:nth-child(2) {
    width: 60px;
}

div.won div.content div p:last-child {
    width: 60px;
}