main {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    background: url("../img/wallpaper.jpg") center center / cover no-repeat fixed;
}

.minesweeper {
    z-index: 1;
    width: min-content;
}

#game_container {
    margin: 0;
}

.minesweeper .content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'mine-sweeper';
}

.minesweeper .game_window {
    background: var(--gris-moyen);
}

.minesweeper .game_window .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 5px;
}

.minesweeper .game_window .head div {
    background-repeat: no-repeat;
}

.minesweeper .game_window .head div.w41 {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    width: 41px;
}

.minesweeper .game_window .head div.display-bomb {
    display: flex;
    margin-left: 5px;
    z-index: 2;
    height: 23px;
    width: 39px;
    border: 1px solid;
    border-top-color: var(--gris-fonce);
    border-left-color: var(--gris-fonce);
    border-bottom-color: var(--gris-clair);
    border-right-color: var(--gris-clair);
}

.minesweeper .game_window .head div.bomb {
    position: relative;
    top: 1px;
    margin: 0;
    z-index: 10;
    height: 21px;
    width: 11px;
}

.minesweeper .game_window .head div.centaine {
    left: 1px;
}

.minesweeper .game_window .head div.dizaine {
    left: 3px;
}

.minesweeper .game_window .head div.unite {
    left: 5px;
}

.minesweeper .game_window .head div.n-decouvert {
    background-position: center;
    background-size: 17px;
    height: 20px;
    width: 20px;
}

.minesweeper .game_window .head div#smile {
    background-image: url("../img/face_smile.png");
}

.minesweeper .game_window .head div#boss {
    background-image: url("../img/face_boss.png");
}

.minesweeper .game_window .head div#dead {
    background-image: url("../img/face_dead.png");
}

.minesweeper .game_window:active .head div#smile {
    background-image: url("../img/face_omg.png");
}

.minesweeper .game_window .head div#flag {
    background-image: url("../img/drapeau.png");
    background-size: 12px;
}

.minesweeper .game {
    margin: 0 5px 5px 5px;
}

.minesweeper .game table {
    background: var(--gris-fonce);
}

.minesweeper .game table tr {
    display: flex;
    flex-direction: row;
}

.minesweeper .game table td {
    text-align: center;
    line-height: 12px;
    width: 12px;
    height: 12px;
    background: var(--gris-moyen);
}

.minesweeper .game table tr td.decouvert.entourer {
    background: red;
    border: 2px solid red;
}

.minesweeper .game table tr td.decouvert {
    background: var(--gris-moyen);
    border: 2px solid var(--gris-moyen);
    vertical-align: middle;
    font-size: x-small;
    margin: 1px 0 0 1px;
}

.minesweeper .game table tr td.n-decouvert {
    padding: 1px 0 0 1px;
}

.game_window,
.n-decouvert {
    border: 2px solid;
    border-top-color: var(--gris-clair);
    border-left-color: var(--gris-clair);
    border-bottom-color: var(--gris-fonce);
    border-right-color: var(--gris-fonce);
}

.minesweeper .n-decouvert a {
    display: block;
    padding: 3px;
    width: 100%;
    height: 100%;
    position: relative;
    top: -3px;
    left: -3px;
    overflow: auto;
}

.minesweeper .box-shadow {
    border: solid;
    border-width: 2px;
}

.minesweeper .box-shadow,
.n-decouvert:active {
    border-top-color: var(--gris-fonce);
    border-left-color: var(--gris-fonce);
    border-bottom-color: var(--gris-clair);
    border-right-color: var(--gris-clair);
}

.mine-1 {
    color: #0000ff;
}

.mine-2 {
    color: #008000;
}

.mine-3 {
    color: #ff0000;
}

.mine-4 {
    color: #000080;
}

.mine-5 {
    color: #800000;
}

.mine-6 {
    color: #008080;
}

.mine-7 {
    color: #800080;
}

.mine-8 {
    color: #000;
}

/* DISPLAY SCORES */
div.won div.content {
    font-size: small;
}

div.won div.content div.titles {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 7px 0;
}

div.won div.content div.scores div {
    display: flex;
    margin: 2px 0;
}

div.won div.content div p:first-child {
    width: 100px;
}

div.won div.content div p:nth-child(2) {
    width: 60px;
}

div.won div.content div p:last-child {
    width: 60px;
}

div.winbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient( #2B90FF, #0055EA 20%, #0055EA 50%, #0270ff 75%, #026AFE);
}

div.winbar div.start_stuff {
    display: flex;
}

div.winbar div.start_stuff div.start img {
    height: 100%;
    width: 100px;
    margin-right: 10px;
    position: relative;
}

div.winbar div.start_stuff div.start:hover {
    filter: brightness(110%);
}

div.winbar div.start_stuff div.process_gameMS {
    margin-top: 3px;
    max-width: 150px;
    height: 24px;
    background-color: rgb(60, 129, 243);
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    border-radius: 2px;
    padding: 0px 8px;
}

div.winbar div.start_stuff div.process_gameMS div.title {
    color: rgb(255, 255, 255);
    font-size: 12px;
    width: 140px;
}

div.winbar div.start_stuff div.process_gameMS:hover:active,
div.winbar div.start_stuff div.process_gameMS:active {
    background-color: rgb(30, 82, 183);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset;
}

div.winbar div.start_stuff div.process_gameMS:hover {
    background-color: rgb(83, 163, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0px 1px, rgba(255, 255, 255, 0.3) 1px 1px 1px inset;
}

div.winbar div.end_stuff {
    flex-shrink: 0;
    box-shadow: rgb(24, 187, 255) 1px 0px 1px inset;
    margin-left: 10px;
    background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
    border-left: 1px solid rgb(16, 66, 175);
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

div.winbar div.end_stuff img {
    height: 16px;
    margin-right: 3px;
}

div.winbar div.end_stuff div.date {
    color: rgb(255, 255, 255);
    font-size: 11px;
    margin-left: 7px;
}

img.logo {
    width: 16px;
    margin-right: 5px;
}