ul.nav {
    display: flex;
    list-style: none;
}

ul.nav-menu {
    justify-content: space-between;
    padding: 0 10px;
}

div.nav-bar {
    height: 20px;
}

li,
li a {
    color: black;
    font-size: 11px;
    line-height: 20px;
    padding: 0px 7px;
}

li.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 0px 1px;
    margin: 3px 0px;
}

div.nav-bar ul.nav-btn li:hover:not(.separator),
div.nav-bar ul.dropdown-menu li:hover:not(.separator) a {
    background-color: rgb(22, 96, 232);
    color: rgb(255, 255, 255);
}

ul.dropdown-menu {
    display: none;
    z-index: 15;
    line-height: 18px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    box-shadow: rgb(100, 100, 100) 2px 2px 1px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
}

ul.dropdown-menu li:not(.selected) {
    padding: 0;
}

ul.dropdown-menu li a {
    display: flex;
    align-items: center;
    width: 128px;
    height: 100%;
    padding: 0;
}

ul.dropdown-menu li a p {
    display: inline-block;
}

div.nav-bar ul.nav-btn li:hover ul.dropdown-menu {
    display: flex;
    flex-direction: column;
}

div.nav-bar ul.nav-btn li:hover ul.dropdown-menu li:not(.separator) {
    width: 130px;
}

.w18 {
    width: 18px;
    height: 18px;
}

.checked {
    background-image: url("../img/checked.png");
    background-position: center;
    background-repeat: no-repeat;
}

div.nav-bar ul.dropdown-menu li:hover:not(.separator) a .checked {
    filter: invert(100%);
}