div.winbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient( #2B90FF, #0055EA 20%, #0055EA 50%, #0270ff 75%, #026AFE);
}

div.winbar div.start_stuff {
    display: flex;
}

div.winbar div.start_stuff div.start img {
    height: 100%;
    width: 110px;
    margin-right: 10px;
    position: relative;
}

div.winbar div.start_stuff div.start:hover {
    filter: brightness(110%);
}

div.winbar div.start_stuff div.process_gameMS {
    margin-top: 3px;
    max-width: 150px;
    height: 29px;
    background-color: rgb(60, 129, 243);
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    border-radius: 2px;
    padding: 0px 8px;
}

div.winbar div.start_stuff div.process_gameMS div.title {
    color: rgb(255, 255, 255);
    font-size: 12px;
    width: 140px;
}

div.winbar div.start_stuff div.process_gameMS:hover:active,
div.winbar div.start_stuff div.process_gameMS:active {
    background-color: rgb(30, 82, 183);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset;
}

div.winbar div.start_stuff div.process_gameMS:hover {
    background-color: rgb(83, 163, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0px 1px, rgba(255, 255, 255, 0.3) 1px 1px 1px inset;
}

div.winbar div.end_stuff {
    flex-shrink: 0;
    box-shadow: rgb(24, 187, 255) 1px 0px 1px inset;
    margin-left: 10px;
    background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
    border-left: 1px solid rgb(16, 66, 175);
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

div.winbar div.end_stuff img {
    height: 16px;
    margin-right: 3px;
}

div.winbar div.end_stuff div.text {
    color: rgb(255, 255, 255);
    font-size: 11px;
    margin-left: 7px;
}

div.winbar div.end_stuff div.text div {
    text-align: center;
}

div.winbar div.end_stuff div.text div.pseudo {
    font-weight: bold;
    font-size: small;
    margin-bottom: 2px;
}

img.logo {
    width: 16px;
    margin-right: 5px;
}