div.popup {
    position: relative;
    margin: auto;
    background: #ECE9D8;
    border: solid 3px #0055EA;
    border-radius: 6px 6px 3px 3px;
    border-top-color: #2B90FF;
    border-left-color: #026AFE;
}
div.popup > .content {
    height: min-content;
    margin: 10px 10px;
}
div.content div.buttons,
div.popup > div.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0 0px 10px 0;
    width: 100%;
}
div.popup > div.buttons button:last-child {
    margin-right: 13px;
}
div.popup > div.buttons button {
    border-radius: 4px;
    margin-left: 5px;
}

div.popup.error {
    position: absolute;
    z-index: 10;
}

div.popup.won {
    position: absolute;
    width: 250px;
    z-index: 10;
}

div.header {
    background: linear-gradient( #2B90FF, #0055EA 20%, #0055EA 50%, #0270ff 75%, #026AFE);
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
}

div.header div.title {
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
    line-height: 25px;
    height: 25px;
}

div.header div.buttons {
    display: flex;
}

div.header div.buttons div.btn {
    border: 1px solid white;
    border-radius: 4px;
    width: 19px;
    height: 19px;
    margin: 0 0 0 2px;
}

div.header div.buttons div.hide-btn {
    background-image: url("../img/hideButton.png");
    background-size: 19px;
}

div.header div.buttons div.resize-btn {
    background-image: url("../img/resizeButton.png");
    background-size: 19px;
}

div.header div.buttons div.info-btn {
    background-image: url("../img/infoButton.png");
    background-size: 19px;
}

div.header div.buttons div.close-btn {
    background-image: url("../img/closeButton.png");
    background-size: 19px;
}

div.header div.buttons div.close-btn a {
    display: block;
    padding: 1px;
    width: 100%;
    height: 100%;
    position: relative;
    top: -1px;
    left: -1px;
    overflow: auto;
}

div.disable {
    filter: opacity(40%);
}