<?php
/**
 * @version 1.0.0
 * @license MIT
 * @author Simon <simon.sassi@etu.univ-nantes.fr> & Eliott <eliott.dubois@etu.univ-nantes.fr>
 */

// Chemin complet sur le serveur de la racine du site, il est supposé que config.php est dans un sous-repertoire de la racine du site
define("HOME_SITE",__DIR__."/..");

// Définition des chemins vers les divers répertoires liés au modèle MVC
define("PATH_VUE",HOME_SITE."/vue");
define("PATH_CONTROLEUR",HOME_SITE."/controleur");
define("PATH_MODELE",HOME_SITE."/modele");
define("PATH_METIER",HOME_SITE."/metier");


// Données pour la connexion au sgbd
// Remplacer les X par vos identifiants de connexion à mysql
define("HOST","localhost");
define("BD","XXX");
define("LOGIN","XXX");
define("PASSWORD","XXX");

/**
 * Plage horaire
 * La valeur représente le décalage horaire en secondes
 * La valeur par défaut est UTC+1 == 3600
 */
define("UTC", 3600);
 
/********************************
* CONFIGURATION DU JEU PAR DEFAUT
********************************/

/**
 * Nombre de colonnes du demineur
 */
define("NBR_LIGNES", 8);

/**
 * Nombre de lignes du demineur
 */
define("NBR_COLONNES", 8);

/**
 * Nombre de mines contenues dans le demineur
 */
define("NBR_MINES", 10);
?>
