@import 'reset.css';

body {
    padding: 20px;
    font-family: 'pc_seniorregular';
    --gris-clair: rgb(245, 245, 245);
    --gris-moyen: rgb(192, 192, 192);
    --gris-fonce: rgb(128, 128, 128);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 10px;
}

div.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.game_window {
    background: var(--gris-moyen);
}

.game_window .head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 5px;
}

.game_window .head div.n-decouvert {
    background-image: url("face_smile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    height: 26px;
    width: 26px;
}

.game_window .head div.n-decouvert:active {
    background-image: url("face_omg.png");
    background-repeat: no-repeat;
    background-size: 22px;
}

.game_window:active .head div.n-decouvert {
    background-image: url("face_omg.png");
}

.game_window .game {
    margin: 0 5px 5px 5px;
}

table {
    background: var(--gris-fonce);
}

tr {
    display: flex;
    flex-direction: row;
    margin: 0 0 1px 0;
}

table tr:first-child {
    margin: 1px 0 1px 0;
}

td {
    width: 25px;
    height: 25px;
    background: var(--gris-moyen);
    border: 4px solid var(--gris-moyen);
    margin: 0 0 0 1px;
    padding: 0;
    font-weight: bold;
}

tr td:last-child {
    margin: 0 1px 0 1px;
}

.n-decouvert {
    border: 4px solid;
    border-top-color: var(--gris-clair);
    border-left-color: var(--gris-clair);
    border-bottom-color: var(--gris-fonce);
    border-right-color: var(--gris-fonce);
}

.n-decouvert a {
    display: block;
    padding: 4px;
    width: 100%;
    height: 100%;
    position: relative;
    top: -4px;
    left: -4px;
    overflow: auto;
}

.box-shadow {
    border: solid;
    border-width: 4px;
}

.box-shadow,
.n-decouvert:active {
    border-top-color: var(--gris-fonce);
    border-left-color: var(--gris-fonce);
    border-bottom-color: var(--gris-clair);
    border-right-color: var(--gris-clair);
}

td.decouvert {
    background: var(--gris-moyen);
}

a {
    text-decoration: none;
    color: black;
}

.mine-1 {
    color: blue;
}

.mine-2 {
    color: green;
}

.mine-3 {
    color: red;
}

.mine-4 {
    color: purple;
}

.mine-5 {
    color: #803a00;
}

.mine-6 {
    color: #103f1c;
}

.mine-7 {
    color: #222;
}

.mine-8 {
    color: grey;
}