div.popup {
    position: relative;
    top: 20%;
    margin: auto;
    background: #ECE9D8;
    border: solid 3px #0055EA;
    border-radius: 6px 6px 3px 3px;
    border-top-color: #2B90FF;
    border-left-color: #026AFE;
}

div.popup.error {
    position: absolute;
    top: 24%;
    max-width: 70%;
    margin: 0 15%;
    z-index: 10;
}

div.header {
    background: linear-gradient( #2B90FF, #0055EA 20%, #0055EA 50%, #0270ff 75%, #026AFE);
    color: white;
    font-weight: 600;
    font-size: medium;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
    line-height: 25px;
    height: 25px;
}